.contenedor
{
    padding: 10px;
    background-color: black;
    font-size: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "header  header  nav"
    "ads  contenido  ads1"
    "footer  footer  footer"
    ;
}

.contenedor .header
{
    grid-area: header;
}

.contenedor .header .ab
{
    color: white;
}

.contenedor .nav
{
    grid-area: nav;
}

.contenedor .contenido
{
    grid-area: contenido;
}

.contenedor .contenido .z
{

    display: flex;
    width: 100%;
    height: 65%;
    
}
.contenedor .contenido .z img
{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.contenedor .contenido .z img:hover
{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.contenedor .contenido .y
{
    color: white;
    text-align: start;
}
.contenedor .ads
{
    grid-area: ads;
}

.contenedor .ads1
{
    grid-area: ads1;
}

.contenedor .footer
{
    grid-area: footer;
}